<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Usuarios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Listado de Usuarios Registrados</h2>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo Electrónico</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.code}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.mail}"></td>
                    <td th:text="${user.direction}"></td>
                    <td th:text="${user.tlf}"></td>
                </tr>
            </tbody>
        </table>

        <a href="/" class="btn btn-primary mt-3">Registrar Nuevo Usuario</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
